/*adapted from https://www.w3schools.com/css/css_colors.asp */
body { background-color: lightgrey;
}
/* adapted from https://www.w3schools.com/css/css_text_decoration.asp */
h1 { text-decoration: underline;
      text-align:center;
}
/* adapted from https://www.w3schools.com/css/css_font.asp */
p {
  font-family: "Times New Roman", Times, serif;
      text-align:left;
      font-style: italic;
}
subh {
  font-family: "Times New Roman", Times, serif;
      text-align:center;
      font-style: italic;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}
