/*adapted from https://www.w3schools.com/css/css_colors.asp */
body { background-color: lightgrey;
}
/* adapted from https://www.w3schools.com/css/css_text_decoration.asp */
.coverh1 { text-decoration: underline;
      text-align:center;
      width: 50%;
      background-color:white;
}

.resh { text-decoration: underline;
      text-align:left;  
      font-style:bold;
       background-color: white;
}
/* adapted from https://www.w3schools.com/css/css_font.asp and https://www.w3schools.com/css/css_margin.asp */ 
.coverp {
  font-family: "Times New Roman", Times, serif;
      text-align:left;
      font-style: italic;
      margin: 25px 50px 1px 10px;
      border: 1px solid black;
      background-color: white;
      
}
.resp {
  font-family: "Times New Roman", Times, serif;
      text-align:left;
       margin: 25px 50px 1px 10px;
      border: 1px solid black;
      background-color: white;
}
.ressubp {
  font-family: "Times New Roman", Times, serif;
      text-align:left;
      text-style:bold;
}
.subh {
  font-family: "Times New Roman", Times, serif;
      text-align:center;
      font-style: italic;
      background-color:white;
}
.dogtext {
      font-family: "Arial Black", Gadget, sans-serif;
      color:Red;
      font-style:bold;
}
/* Adapted from https://www.w3schools.com/cssref/css_animatable.asp*/

.dogbck {{
      background:blue;
       animation: mymove 10s infinite;
      }
      @keyframes mymove {
  from {background-color: blue;}
  to {background-color: green;}
  to {background-color: yellow;}
}
}


div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}
